#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    text-align: center;
}

.activos {
    color: blue;
}

.pasivos {
    color: red;
}

